# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake
*.cmake
*.dep
*.d
makelist
CMakeCache.txt
*CMakeFiles
Makefile
source_downloads

# ignore files list
out
client/mysql
client/mysql_config_editor
client/mysql_plugin
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlshow
client/mysqlslap
client/mysqltest
cmd-line-utils/libedit/common.h
cmd-line-utils/libedit/emacs.h
cmd-line-utils/libedit/fcns.c
cmd-line-utils/libedit/fcns.h
cmd-line-utils/libedit/help.c
cmd-line-utils/libedit/help.h
cmd-line-utils/libedit/vi.h
cmd-line-utils/libedit/stAVFbKP
Docs/INFO_BIN
extra/comp_err
extra/innochecksum
extra/my_print_defaults
extra/mysql_waitpid
extra/perror
extra/replace
extra/resolve_stack_dump
extra/resolveip
include/sql_state.h
include/config.h
include/my_config.h
include/mysql_version.h
include/mysqld_ername.h
include/mysqld_error.h
include/probes_mysql_dtrace.h
install_manifest.txt
libmysql/libmysql.ver
libmysql/libmysql_exports_file.cc
libmysql/libmysqlclient.so.18
libmysql/libmysqlclient.so.18.1.0
libmysql/libmysqlclient_r.so.18
libmysql/libmysqlclient_r.so.18.1.0
libmysql/mysqlclient_depends.c
mysql-test/lib/My/SafeProcess/my_safe_process
mysql-test/mtr
mysql-test/mysql-test-run
mysys/queues
mysys/thr_lock
packaging/rpm-uln/mysql.5.6.13.spec
packaging/solaris/postinstall-solaris
regex/re
scripts/make_binary_distribution
scripts/msql2mysql
scripts/mysql_config
scripts/mysql_convert_table_format
scripts/mysql_find_rows
scripts/mysql_fix_extensions
scripts/mysql_install_db
scripts/mysql_secure_installation
scripts/mysql_setpermission
scripts/mysql_zap
scripts/mysqlaccess
scripts/mysqlbug
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/mysqlhotcopy
scripts/comp_sql
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.c
sql-bench/bench-count-distinct
sql-bench/bench-init.pl
sql-bench/compare-results
sql-bench/copy-db
sql-bench/crash-me
sql-bench/graph-compare-results
sql-bench/innotest1
sql-bench/innotest1a
sql-bench/innotest1b
sql-bench/innotest2
sql-bench/innotest2a
sql-bench/innotest2b
sql-bench/run-all-tests
sql-bench/server-cfg
sql-bench/test-ATIS
sql-bench/test-alter-table
sql-bench/test-big-tables
sql-bench/test-connect
sql-bench/test-create
sql-bench/test-insert
sql-bench/test-select
sql-bench/test-transactions
sql-bench/test-wisconsin
sql/gen_lex_hash
sql/lex_hash.h
sql/mysql_tzinfo_to_sql
sql/mysqld
sql/share/bulgarian/
sql/share/czech/
sql/share/danish/
sql/share/dutch/
sql/share/english/
sql/share/estonian/
sql/share/french/
sql/share/german/
sql/share/greek/
sql/share/hungarian/
sql/share/italian/
sql/share/japanese/
sql/share/korean/
sql/share/norwegian-ny/
sql/share/norwegian/
sql/share/polish/
sql/share/portuguese/
sql/share/romanian/
sql/share/russian/
sql/share/serbian/
sql/share/slovak/
sql/share/spanish/
sql/share/swedish/
sql/share/ukrainian/
sql/sql_builtin.cc
storage/heap/hp_test1
storage/heap/hp_test2
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/perfschema/gen_pfs_lex_token
storage/perfschema/pfs_lex_token.h
storage/perfschema/unittest/pfs-t
storage/perfschema/unittest/pfs_account-oom-t
storage/perfschema/unittest/pfs_connect_attr-t
storage/perfschema/unittest/pfs_host-oom-t
storage/perfschema/unittest/pfs_instr-oom-t
storage/perfschema/unittest/pfs_instr-t
storage/perfschema/unittest/pfs_instr_class-oom-t
storage/perfschema/unittest/pfs_instr_class-t
storage/perfschema/unittest/pfs_user-oom-t
support-files/MySQL-shared-compat.spec
support-files/binary-configure
support-files/my-default.cnf
support-files/mysql-log-rotate
support-files/mysql.server
support-files/mysql.spec
support-files/mysqld_multi.server
support-files/plugins.files
tests/bug25714
tests/mysql_client_test
unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/mytap/t/basic-t

